/* Header Styles */
* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.head {
    background-image: url('../images/banner/banner1.png');
    background-repeat: none;
    background-position: top left;
    width: 1349px;
    height: 800px;
}

.h {
    padding: 216px 0px 364px 845px;

}

.caption {

    text-align: right;
    color: #151414;
    font-size: 55px;
    width: 409px;
    font-weight: 700;
    line-height: normal;
}

.text {
    color: #444343;
    margin-top: 24px;
    font-size: 14px;
    text-align: right;
    width: 409px;
    font-weight: 400;
    line-height: 26px;
}

button {
    border: none;
    background-color: #F15B22;
    color: #FFF;
    margin-top: 30px;
    margin-left: 293px;
    width: 117px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 5px;
}


/* Main Styles */

.gap {
    margin: 120px 872px 0px 277px;
}

.border {
    background-color: rgba(241, 91, 34, 0.20);
    border-radius: 200px;
    padding-top: 500px 500px 300px 200px;
    margin: -495px 47px 184px 235px;
    height: 300px;
    width: 300px;
}

.w {
    color: #151414;
    font-size: 20px;
    font-weight: 700;
    margin: -500px 0px 0px 590px;
    width: 288px;
}

.w2 {
    color: #444343;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    width: 416px;
    margin: 24px 0px 0px 590px;
}

.w3 {
    color: var(--Dark-02, #444343); 
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0px 0px 590px;
}