/* Header Styles */
* {
    margin: 0px;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.head {
    background-image: url('../images/banner/banner1.png');
    background-repeat: none;
    background-position: top left;
    width: 1349px;
    height: 800px;
}

.h {
    padding: 216px 0px 364px 845px;

}

.caption {

    text-align: right;
    color: #151414;
    font-size: 55px;
    width: 409px;
    font-weight: 700;
    line-height: normal;
}

.text {
    color: #444343;
    margin-top: 24px;
    font-size: 14px;
    text-align: right;
    width: 409px;
    font-weight: 400;
    line-height: 26px;
}

button {
    border: none;
    background-color: #F15B22;
    color: #FFF;
    margin-top: 30px;
    margin-left: 293px;
    width: 117px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 5px;
}


/* Main Styles */

.gap {
    margin: 120px 872px 0px 277px;
}

.border {
    background-color: rgba(241, 91, 34, 0.20);
    border-radius: 200px;
    padding-top: 500px 500px 315px 203px;
    margin: -495px 47px 183px 295px;
    height: 298px;
    width: 298px;
}

.w {
    color: #151414;
    font-size: 20px;

    font-weight: 700;
    margin: -470px 0px 0px 700px;
    width: 288px;
}

.w2 {
    color: #444343;
    font-size: 10px;
    font-weight: 300;
    line-height: 20px;
    text-align: initial;
    width: 365px;
    margin: 24px 0px 0px 700px;
}

.i1 {
    color: #444343;
    padding: 3px 0px 0px 0px;
    margin: -15px 0px 10px 110px;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;

}



.w3 {
    color: var(--Dark-02, #444343);
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0px 0px 590px;
}

.H {
    color: #151414;
    font-size: 20px;
    font-weight: 700;
    margin: 110px 0px 20px 650px;
    width: 288px;
}

.pic {
    padding-right: 150px;
    align-content: space-between;
}

.picture {

    padding: 30px 0px 15px 375px;
    display: flex;

}

.t {
    padding: 0px 0px 10px 335px;
    display: flex;
    color: #151414;
    text-align: center;
    align-content: space-between;
    font-size: 15px;
    font-weight: 700;
}

.t1 {
    padding: 0px 109px 0px 0px;

}

.t2 {
    padding: 0px 112px 0px 10px;
}

.text2 {
    padding: 0px 0px 100px 335px;
    display: flex;
    color: #737272;
    text-align: center;
    align-content: space-between;
    font-size: 13px;
    font-weight: 50;
}

.te1 {
    padding: 0px 118px 0px 17px;
}

.te2 {
    padding: 0px 108px 0px 9px;
}

.te3 {
    padding: 0px 108px 0px 16px;
}

.lower-image {
    padding: 0px 0px 0px 338px;
}

.ima {
    width: 760px;
    height: 180px;
    border-radius: 8px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 760px 180px;
}

.final-text {
    color: #FFF;
    margin-top: -150px;
    padding: 0px 0px 20px 380px;
    width: 350px;
    font-size: 20px;
    font-weight: 1200;

}

.click {
    margin: 0px 0px 90px 380px;
}

.button1 {
    color: #F15B22;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    background-color: #FFF;
    width: 98px;
    height: 40px;
}

/* Footer Style */
.dis {
    background-color: #151414;
    display: flex;
    align-content: space-around;
    padding-bottom: 500px;
    color: #FFF;
}

.footer-column1 {


    padding: 120px 0px 0px 335px;
    font-size: 20px;
    font-weight: 700;

}

.footer-column2 {
    padding: 128px 0px 0px 450px;
}

.writing {

    padding: 0px 335px;
    color: #FFFFFF;
    margin-top: -475px;
    font-size: 11px;
    font-weight: 200;
    line-height: 26px;
    width: 330px;
}

.mail {
    padding: 0px 880px;
    color: #FFF;
    margin-top: -89px;
    font-size: 14px;
    font-weight: 200;
    line-height: 26px;
    width: 410px;
}

.email-box {
    width: 200px;
    height: 45px;
    color: #f3f3f3;
    font-size: 12px;
    padding-left: 15px;
    border-radius: 8px;
    background-color: #151414;
    border: 1px solid #fff
}

.b {
    padding: 0px 590px;
    width: 170.106px;
    margin-top: -20px;
    height: 55px;
}

.writing1 {
    padding: 0px 335px;
    color: #FFFFFF;
    margin-top: 25px;
    font-size: 11px;
    font-weight: 200;
    line-height: 26px;
    width: 330px;
}

.writing2 {
    padding: 0px 335px;
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 200;
    line-height: 26px;
    width: 330px;
}

.picture1 {
    padding: 0px 10px 0px 335px;
    margin-top: 10px;
    align-content: space-around;
}

.logo1 {
    padding: 0px 10px 0px 0px;
}